.header{
    padding: 5px 0 0 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100px;
}
.header-title{
    width: 90%;
    display: block;
    color:#293fa9;
}
.header-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
