.row-red{
    background-color: #cf000f;
    color: white;
}
.row-green{
    background-color: #009944;
    color: white;
}
.row-yellow{
    background-color: #f7b217;
    color: white
}
.ant-table-tbody>tr.ant-table-row:hover>td{
    background-color: unset;
}
.tool{
    top: 100px;
    z-index: 5;
}
.tool button{
    margin-left: 5px;
}